@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Space Grotesk Variable";
    src: url("/fonts/SpaceGrotesk-Variable-subset.woff2") format("woff2");
    font-weight: 1 999;
    font-display: swap;
  }
}

@font-face {
  font-family: "Space Grotesk Static";
  src:
    url("/fonts/SpaceGrotesk-Static-subset.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Static-subset.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight-low: #21202e;
  --highlight-med: #403d52;
  --highlight-high: #524f67;
}

html {
  background-color: var(--base);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  color: var(--text);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--foam);
  text-decoration: none;
}

a:hover {
  color: var(--pine);
}

em {
  color: var(--subtle);
  font-style: italic;
}

footer {
  padding-top: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

footer a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

header {
  align-items: center;
  display: flex;
  font-family:
    "Space Grotesk Static",
    -apple-system,
    sans-serif;
  @supports (font-variation-settings: normal) {
    font-family:
      "Space Grotesk Variable",
      -apple-system,
      sans-serif;
  }
  justify-content: space-between;
  padding-bottom: 1rem;
}

header a[href="/"] {
  color: var(--love);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family:
    "Space Grotesk Static",
    -apple-system,
    sans-serif;
  @supports (font-variation-settings: normal) {
    font-family:
      "Space Grotesk Variable",
      -apple-system,
      sans-serif;
  }
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

header h1 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-bottom: 0;
}

header h2 {
  color: var(--gold);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 0;
}

img {
  height: auto;
  margin-bottom: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "logo title"
    "logo description";
  gap: 0.5rem;
  border: 1px solid var(--foam);
  border-radius: 8px;
  padding: 0.5rem;
}

.card img {
  grid-area: logo;
}

.card h2,
.card p {
  color: var(--text);
  margin-bottom: 0;
}

.card:hover h2,
.card:hover p {
  color: var(--foam);
}

.card h2 {
  grid-area: title;
}

.card p {
  grid-area: description;
}
