/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Space Grotesk Variable";
    src: url("/fonts/SpaceGrotesk-Variable-subset.woff2") format("woff2");
    font-weight: 1 999;
    font-display: swap;
  }
}

@font-face {
  font-family: "Space Grotesk Static";
  src:
    url("/fonts/SpaceGrotesk-Static-subset.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Static-subset.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

/* :root { */
/*   --base: #faf4ed; */
/*   --surface: #fffaf3; */
/*   --overlay: #f2e9e1; */
/*   --muted: #9893a5; */
/*   --subtle: #797593; */
/*   --text: #575279; */
/*   --love: #b4637a; */
/*   --gold: #ea9d34; */
/*   --rose: #d7827e; */
/*   --pine: #286983; */
/*   --foam: #56949f; */
/*   --iris: #907aa9; */
/*   --highlight-low: #f4ede8; */
/*   --highlight-med: #dfdad9; */
/*   --highlight-high: #cecacd; */
/* } */

/* @media (prefers-color-scheme: dark) { */
:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight-low: #21202e;
  --highlight-med: #403d52;
  --highlight-high: #524f67;
}
/* } */

html {
  background-color: var(--base);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  color: var(--text);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--foam);
  text-decoration: none;
}

a:hover {
  color: var(--pine);
}

em {
  color: var(--subtle);
  font-style: italic;
}

footer {
  padding-top: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

footer a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

header {
  display: flex;
  font-family:
    "Space Grotesk Static",
    -apple-system,
    sans-serif;
  @supports (font-variation-settings: normal) {
    font-family:
      "Space Grotesk Variable",
      -apple-system,
      sans-serif;
  }
  justify-content: space-between;
  padding-bottom: 1rem;
}

header a[href="/"] {
  color: var(--foam);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family:
    "Space Grotesk Static",
    -apple-system,
    sans-serif;
  @supports (font-variation-settings: normal) {
    font-family:
      "Space Grotesk Variable",
      -apple-system,
      sans-serif;
  }
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

header h1 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-bottom: 0;
}

header h2 {
  color: var(--gold);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 0;
}

img {
  border-radius: 3px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background-color: var(--surface);
  display: grid;
  grid-template-columns: 42px 1fr;
  grid-template-areas:
    "logo title"
    "logo description";
  gap: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem;
}

.card .icon {
  grid-area: logo;
  display: flex;
  color: var(--foam);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card h2,
.card p {
  color: var(--foam);
  margin-bottom: 0;
}

.card:hover h2,
.card:hover p {
  color: var(--pine);
}

.card h2 {
  grid-area: title;
}

.card p {
  grid-area: description;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon img {
  display: block;
}

.post {
  margin-top: 2rem;
}

.post img {
  height: auto;
  margin-bottom: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);
}
