---
import { Picture } from "astro:assets";
import kenImage from "@src/assets/ken-ufo.jpg";
import Layout from "../layouts/Layout.astro";
const pageTitle = "";
---

<Layout pageTitle={pageTitle}>
  <h1>Hi, I'm Ken. I like <em>learning</em> and <em>building</em>.</h1>
  <p>
    I am currently working as a full stack developer at <a
      href="https://deepcast.fm">DeepCast</a
    >, creating tools for listeners and creators of podcasts.
  </p>
  <p>
    I also enjoy volunteering as a lead developer for <a
      href="https://rubyforgood.org">Homeward Tails with Ruby for Good</a
    >.
  </p>
  <Picture
    src={kenImage}
    alt="Ken"
    style={{
      width: "calc(100% + 2rem)",
      height: "auto",
      marginTop: "1rem",
      marginLeft: "-1rem",
      marginRight: "-1rem",
    }}
  />
</Layout>
