---
import { Picture } from "astro:assets";
import kenImage from "@src/assets/ken.jpeg";
import Layout from "../layouts/Layout.astro";
const pageTitle = "";
---

<Layout pageTitle={pageTitle}>
  <h1>Hi, I'm Ken. I like <em>learning</em> and <em>building</em>.</h1>
  <Picture
    src={kenImage}
    alt="Ken"
    style={{
      width: "calc(100% + 2rem)",
      height: "auto",
      marginLeft: "-1rem",
      marginRight: "-1rem",
    }}
  />
</Layout>
