---
import GithubIcon from "@src/icons/GithubIcon.astro";
---

<footer>
  <ul>
    <li>
      <a href="https://github.com/mononoken"
        ><GithubIcon /><span>Github</span></a
      >
    </li>
  </ul>
</footer>
