---
import Navigation from "@src/components/Navigation.astro";
import type { Route } from "@src/types";

const home = { name: "feelsufo", url: "/" };
const routes: Route[] = [
  { name: "Projects", url: "/projects/" },
  { name: "Blog", url: "/blog/" },
  { name: "About", url: "/about/" },
];
---

<header>
  <a href={home.url}><span>{home.name}</span></a>
  <Navigation routes={routes} />
</header>
