---
import Navigation from "@src/components/Navigation.astro";
import Ufo from "@src/icons/Ufo.astro";
import type { Route } from "@src/types";

const home = { name: "feelsufo", url: "/" };
const routes: Route[] = [
  { name: "Projects", url: "/projects/" },
  { name: "Blog", url: "/blog/" },
  { name: "About", url: "/about/" },
];
---

<header>
  <a href={home.url}>
    <div><Ufo /><h1>{home.name}</h1></div>
    <h2>Ken Maeshima</h2>
  </a>
  <Navigation routes={routes} />
</header>
