---
import Header from "@src/components/Header.astro";
import Footer from "@src/components/Footer.astro";
import "@src/styles/reset.css";
import "@src/styles/global.css";
import type { Route } from "@src/types";

type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;

const routes: Route[] = [
  { name: "Home", url: "/" },
  { name: "Projects", url: "/projects/" },
  { name: "Blog", url: "/blog/" },
  { name: "About", url: "/about/" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>feelsufo: {pageTitle}</title>
  </head>
  <body>
    <Header routes={routes} />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <script></script>
  </body>
</html>
