---
import Layout from "@src/layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  {frontmatter.pubDate && <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>}
  {
    frontmatter.description && (
      <p>
        <em>{frontmatter.description}</em>
      </p>
    )
  }
  {frontmatter.author && <p>Written by: {frontmatter.author}</p>}
  <div class="post">
    <slot />
  </div>
</Layout>
